.form-root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70vw;
    height: 70vh;
    margin: 0.5rem 0;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  
}

.form-title {
    display: flex;
    position: relative;
    justify-content:  center;
    margin: 0.5rem;
    font-family: Roboto, 'sans-serif' ;
    font-size: 20px;
}

.form-container-input {
    display: flex;
    top: 15px;
    position: relative;
    align-self:  center;
    width: 45%;
    height: 35px;
    padding: 0.2rem;
    margin: 0.3rem 0;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-input{
    display: flex;
    border: 0px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    width: 100%;
    height: auto;
    font-family: Roboto, 'sans-serif';
    font-size: 20px;
}

.form-container-textarea {
    display: flex;
    top: 15px;
    position: relative;
    align-self:  center;
    width: 45%;
    height: 100px;
    padding: 0.2rem;
    margin: 0.3rem 0;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-textarea{
    display: flex;
    border: 0px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    resize: none;
    width: 100%;
    height: auto;
    font-family: Roboto, 'sans-serif';
    font-size: 20px;
}

.form-label{
    display: flex;
    border: 0px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    flex-grow: 1;
    height: auto;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;
}

.form-select{
    display: flex;
    cursor: pointer;
    border: 0px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    flex-grow: 4;
    width: 10vw;
    height: auto;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;
}

.form-input-date-time{
    display: flex;
    cursor: pointer;
    border: 1px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    flex-grow: 4;
    height: auto;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;
}




.form-container-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    bottom:0;
    margin: 1rem 0;
  }

  .form-buttons{
    width: 200px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
