ul,body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 70vw;
  height: 70vh;
  margin: 0.5rem 0;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 35vw;
  height: 40px;
  font-family: Roboto, 'sans-serif';
  font-size: 20px;
  padding:0 24px;
  cursor: pointer;
}
.list-container-filter{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 30%;
  height: 40px;
  padding:0 24px;
  cursor: pointer;
}

.list-item-overdue {
  display: flex;
  align-items: center; 
  justify-self: flex-start;
  width: 100%;
  font-family: Roboto, 'sans-serif';
  font-size: 20px;
  color: crimson;
  background-color: darkgray;
  padding:0 24px;
  cursor: pointer;
}

.list-item-not-done {
  display: flex;
  align-items: center; 
  justify-self: flex-start;
  width: 100%;
  font-family: Roboto, 'sans-serif';
  font-size: 20px;
  padding:0 24px;
  cursor: pointer;
}

.list-item-done{
  display: flex;
  align-items: center; 
  width: 100%;
  font-family: Roboto, 'sans-serif';
  text-decoration: line-through;
  font-size: 20px;
  padding:0 24px;
  cursor: pointer;
}

.list-container-buttons{
  display: flex;
  width: 200px;
  justify-content: flex-end;
  margin: 0.3rem 0;
}
.list-buttons{
  width: 200px;
  cursor: pointer;
}

.list-item:hover{
  background-color: #e9e9e9;
}